.DS_Store
/.build/
/swift-crud-linux
/Packages/
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.private
*.sqlite*
.env
!.env.example
